html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  --primary-btn-bg: var(--bs-indigo);
  --text-color-dark: #dee2e6; /* Custom text color for dark mode */
  --bg-color-light: #e9ecef; /* Custom background color for light mode */
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --ae-purple-700: #432874;
  --ae-purple-800: #2c1a4d;
  --ae-yellow-300: #ffda6a;
  --ae-neutral-100: #f8f9fa;
  --ae-gray-200: #e9ecef;
  --ae-gray-300: #dee2e6;
  --ae-gray-500: #adb5bd;
  --ae-gray-600: #6c757d;
  --ae-gray-900: #212529;
  --ae-gray-1000: #1a1a1a;
  --ae-stroke-color: #343a40;
}

.logo {
  height: 6px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
.nav-link.active {
  color: red;
  font-weight: bold;
}

@media (max-width: 992px) {
  .overlay-content {
    padding-top: 200px;
  }
}

@media (max-width: 576px) {
  .overlay-content {
    padding-top: 200px;
  }
}

.btn-ae-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: var(--bs-indigo) !important;
  --bs-btn-border-color: var(--ae-purple-700) !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: var(--bs-purple) !important;
  --bs-btn-hover-border-color: var(--bs-indigo) !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: var(--ae-purple-700) !important;
  --bs-btn-active-border-color: var(--ae-purple-800) !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: var(--ae-gray-500) !important;
  --bs-btn-disabled-border-color: var(--ae-gray-600) !important;
}

[data-bs-theme="custom-dark"] {
  --bs-body-color: var(--text-color-dark);
  --bs-body-bg: var(--ae-gray-1000);

  .card {
    --bs-card-bg: var(--ae-gray-900);
    --bs-card-border-color: var(--ae-stroke-color);
  }
}

[data-bs-theme="custom-light"] {
  --bs-body-color: var(--ae-gray-900);
  --bs-body-bg: var(--ae-gray-200);

  .card {
    --bs-card-bg: var(--ae-neutral-100);
    --bs-card-border-color: var(--ae-gray-300);
  }
  input {
    background-color: white;
    color: var(--ae-gray-900);
    border-style: solid;
    border-color: var(--ae-gray-300);
    border-radius: 4;
  }
}

li {
  font-size: 14px;
}

img.home-page-logo {
  transition: box-shadow 300ms ease-in-out;
}

img.home-page-logo:hover {
  -webkit-filter: drop-shadow(1px 1px 7px black);
  transition: -webkit-filter 300ms ease-in-out;
}

.row {
  --bs-gutter-x: 0rem;
}

.custom-row {
  margin-right: 0;
  margin-left: 0;
}

.button-fixed-height {
  height: 38px; /* Fixed height */
  bottom: 0; /* Align the button to the bottom */
  margin: 0 auto; /* Center the button horizontally */
}
